:root {
    --letter-spacing: 0.05rem;
    --fs: 1rem;
    --p-fs: 1.1rem;
  
    --fw1: 100;
    --fw2: 200;
    --fw3: 300;
  
    --font-fam: "Jost";

    /* This gradient has colour stops to blend the top/bottom with the page background colour. */
    --grad-col: #ff5f1f80, #00cccc80, #ffffff;
    --wht-grad: #ffffff 0%, #ff5f1f80 10%, #00cccc80 70%, #ffffff 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--font-fam);
    letter-spacing: var(--letter-spacing);
}

ul {
    list-style: none;
    padding: 0;
  }

.scene-icon {
    background-image: linear-gradient(var(--grad-col));
    display: flex;
    
}

svg {
    /* background-image: linear-gradient(var(--grad-col)); */
}
    