:root {
  --letter-spacing: 0.1rem;
  --fs: 1rem;
  --p-fs: 1.1rem;

  --fw1: 100;
  --fw2: 200;
  --fw3: 300;

  --font-fam: "Jost";

  --grad-col: #ff5f1f80, #00cccc80, #ffffff;
  --wht-grad: #ffffff 0%, #ff5f1f80 10%, #00cccc80 70%, #ffffff 100%;
  /* The above gradient has colour stops to soften top/bottom in line with background. */

  --head-pad: 10% 10% 10% 10%;
  --tag-pad: 1% 10% 1% 10%;
  --sceneicon: 1% 10% 1% 10%;
  --desc-pad: 1% 10% 1% 10%;
  --info-pad: 1% 10% 1% 10%;
  --onboarding-pad: 1% 10% 1% 10%;
  --onboarding-p-pad: 0% 10% 0% 10%;
  --onboardingList-pad: 1% 10% 1% 10%;
  --disclaimer-pad: 0% 10% 0% 10%;
  --email-pad: 3% 10% 5% 10%;
}

html {
  /* The default text size in browsers is 16px. So, the default size of 1rem is 16px. */
  font-size: var(--fs);
  font-family: var(--font-fam);
  letter-spacing: var(--letter-spacing);
}

body {
  margin: 0%;
}

ul {
  list-style: none;
  padding: var(--tag-pad);
}

p {
  font-size: var(--p-fs);
}

.scenelogo {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(var(--grad-col));
  padding: var(--head-pad);
}



.scene-list-item {
  /* font-family: var(--font-fam), sans-serif; */
  font-weight: bold;

}

.tagcontainer {
  font-family: var(--font-fam), sans-serif;
  font-weight: var(--fw2);
}

.one {
  padding: var(--tag-pad);
}

.two {
  padding: var(--tag-pad);
}

.three {
  padding: var(--tag-pad);
}

.four {
  padding: var(--tag-pad);
}

.five {
  padding: var(--tag-pad);
}

.six {
  padding: var(--tag-pad);
  color: var(--grad-col);
}

.scene-icon {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(var(--wht-grad));
  padding: var(--sceneicon);
  margin: 0%;
}

.scenedescription {
  font-family: var(--font-fam), sans-serif;
  font-weight: var(--fw3);
  padding: var(--desc-pad);
}

/* .scenesmliconblk {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(var(--wht-grad));
  padding: var(--sceneicon);
  margin: 0%;
} */

.sceneinfo {
  font-family: var(--font-fam), sans-serif;
  font-weight: var(--fw3);
}

.onboardingHed {
  padding: var(--onboarding-pad);
}

.onboardingP {
  padding: var(--onboarding-p-pad);
}

.centredList {
  padding: var(--onboardingList-pad);
  text-align: center;
}

.disclaimer {
  padding: var(--disclaimer-pad);
}

.sceneEmail {
  padding: var(--email-pad);
  text-align: center;
}

.ticketlink {
  display: flex;
  justify-content: center;
  padding: var(--ticket-pad);
}
